 @import "generales";
 @import "variables";
 
 
 /*areas */

 header{
    grid-area: header;
}

nav#barra{
grid-area: navbar;
}

p#intro{
grid-area: intro;
}

footer{
grid-area: footer;
}

section#burgers{
grid-area: burgers;
}

section#13black{
grid-area: 13black;
}

section#sandwiches{
grid-area: sandwiches;
}


/*Media Queries*/

/*smartphone*/

@media (max-width: 480px) {

body{
    color: black;
    background-color: $colormobile;
}

/*estilos flex*/

header{
    display: flex;
    justify-content: center;
    align-content: center;
}

.menuBurgers{
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 100%;
gap: 10px;
border: 30px;
justify-content: space-evenly;
align-content: flex-start;
}

.menuBlack{
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 100%;
gap: 10px;
border: 30px;
justify-content: space-evenly;
align-content: flex-start;
}

.menuSandwiches{
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 100%;
gap: 10px;
border: 30px;
justify-content: space-evenly;
align-content: flex-start;
}

}
    /*grilla home*/

#grilla{
width: 100vw;
height: 100vh;
}

#grilla{
    display: grid;
    grid-template-areas: 
    "header"
    "navbar" 
    "intro"
    "footer";

grid-template-columns: auto;
grid-template-rows: 30% 10% auto auto;
gap: 1em;
}

/*grilla de la carta*/

#grillaMenu{
width: 100vw;
height: 100vh;
}

#grillaMenu{
    display: grid;
    grid-template-areas: 
    "header"
    "navbar"
    "burgers"
    "13black"
    "sandwiches"
    "footer";

grid-template-columns: auto;
grid-template-rows: 30% 25% auto auto auto 5%;
gap: 1em;
}


/*tablet*/

@media (min-width: 481px) {

body{
    color: red;
    background-color: black;
}

/*estilos flex*/

header{
    display: flex;
    justify-content: center;
    align-content: center;
}

.menuBurgers{
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
gap: 2em;
justify-content: space-evenly;
align-content: flex-start;
}

.menuBlack{
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
gap: 2em;
justify-content: space-evenly;
align-content: flex-start;
}

.menuSandwiches{
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
gap: 2em;
justify-content: space-evenly;
align-content: flex-start;
}

}

/*grilla home*/

#grilla{
width: 100vw;
height: 100vh;
}

#grilla{
    display: grid;
    grid-template-areas: 
    "header header"
    "navbar navbar"
    "intro intro"
    "footer footer";

grid-template-columns: 50% 50%;
grid-template-rows: 30% 10% auto auto;
row-gap: 1em;
}

/*grilla de la carta*/

#grillaMenu{
width: 100%;
height: 100vh;
}

#grillaMenu{
display: grid;
grid-template-areas: 
"header header"
"navbar navbar"
"burgers burgers"
"13black 13black"
"sandwiches sandwiches"
"footer footer";

grid-template-columns: 50% 50%;
grid-template-rows: 30% 25% auto auto auto 5%;
row-gap: 1em;
column-gap: 1em;
}



/*desktop*/

@media (min-width: 1024px) {

body{
    color: $colorfontdesktop;
    background-color: $colortablet;
}
        /*estilos flex*/

    header{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .menuBurgers{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        gap: 1em;
        justify-content: center;
        align-content: center;
    }

    .menuBlack{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        gap: 1em;
        justify-content:center;
        align-content:center;
    }

    .menuSandwiches{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        gap: 1em;
        justify-content: center;
        align-content: center;
    }
    
        /*grilla home*/

    #grilla{
        width: 100%;
        height: 100vh;
    }

    #grilla{
            display: grid;
            grid-template-areas: 
            "header header"
            "navbar navbar"
            "intro intro"
            "footer footer";

        grid-template-columns: auto auto;
        grid-template-rows: 30% 10% auto auto;
        gap: 1em;
    }

    /*grilla de la carta*/

    #grillaMenu{
        width: 100%;
        height: 100%;
    }

    #grillaMenu{
            display: grid;
            grid-template-areas: 
            "header header"
            "navbar navbar"
            "burgers burgers"
            "13black 13black"
            "sandwiches sandwiches"
            "footer footer";

        grid-template-columns: auto auto;
        grid-template-rows: 22% 10% auto auto auto 5%;
        row-gap: 1em;
        column-gap: 1em;
    }

}

/*Delivery Tab*/
/*Quienes Somos Tab*/
/*Contacto Tab*/ 