

 /*areas */

header{
		grid-area: header;
	}

nav{
	grid-area: nav;
}

p#intro{
	grid-area: intro;
}

footer{
	grid-area: footer;
}

section#burgers{
	grid-area: burgers;
}

section#13black{
	grid-area: 13black;
}

section#sandwiches{
	grid-area: sandwiches;
}


/*Media Queries*/

/*smartphone*/

@media (max-width: 480px) {

	body{
		color: black;
		background-color: red;
	}

	/*estilos flex*/

.menuBurgers{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	gap: 10px;
	border: 30px;
	justify-content: space-evenly;
	align-content: flex-start;
}

.menuBlack{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	gap: 10px;
	border: 30px;
	justify-content: space-evenly;
	align-content: flex-start;
}

.menuSandwiches{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	gap: 10px;
	border: 30px;
	justify-content: space-evenly;
	align-content: flex-start;
}
.navFlex{
	display: flex;
	flex-direction: row;
	background-image : url('../img/navbanner.jpg');
	background-size: cover;
}
		/*grilla home*/

#grilla{
	width: 100%;
	height: 100vh;
}

#grilla{
		display: grid;
		grid-template-areas: 
		"header"
		"nav" 
		"intro"
		"footer";

	grid-template-columns: auto;
	grid-template-rows: 35% 15% 30% 20%;
	gap: 10px;
}

/*grilla de la carta*/

#grillaMenu{
	width: 100%;
	height: 100vh;
}

#grillaMenu{
		display: grid;
		grid-template-areas: 
		"header"
		"nav"
		"burgers"
		"13black"
		"sandwiches"
		"footer";

	grid-template-columns: auto;
	grid-template-rows: 30% 15% 15% 15% 15% auto;
	gap: 10px
}
	
}

/*tablet*/

@media (min-width: 481px) {

	body{
		color: red;
		background-color: black;
	}

	/*estilos flex*/

.menuBurgers{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	gap: 10px;
	justify-content: space-evenly;
	align-content: flex-start;
}

.menuBlack{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	gap: 10px;
	justify-content: space-evenly;
	align-content: flex-start;
}

.menuSandwiches{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	gap: 10px;
	justify-content: space-evenly;
	align-content: flex-start;
}
.navFlex{
	display: flex;
	flex-direction: column;
	background-image : url('../img/navbanner.jpg');
	background-size: cover;
}

			/*grilla home*/

#grilla{
	width: 100%;
	height: 100vh;
}

#grilla{
		display: grid;
		grid-template-areas: 
		"nav header"
		"nav intro"
		"nav footer";

	grid-template-columns: 15% auto;
	grid-template-rows: 35% 50% 15%;
	gap: 10px;
}

/*grilla de la carta*/

#grillaMenu{
	width: 100%;
	height: 100vh;
}

#grillaMenu{
		display: grid;
		grid-template-areas: 
		"nav header"
		"nav burgers"
		"nav 13black"
		"nav sandwiches"
		"footer footer";

	grid-template-columns: 15% auto;
	grid-template-rows: 35% 15% 15% 15% auto;
	row-gap: 10px;
	column-gap: 10px;
}
	
	}

/*desktop*/

@media (min-width: 1024px) {

	body{
		color: white;
		background-color: black;
	}
			/*estilos flex*/

		.menuBurgers{
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			width: 100%;
			gap: 10px;
			justify-content: space-evenly;
			align-content: flex-start;
		}

		.menuBlack{
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			width: 100%;
			gap: 10px;
			justify-content: space-evenly;
			align-content: flex-start;
		}

		.menuSandwiches{
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			width: 100%;
			gap: 10px;
			justify-content: space-evenly;
			align-content: flex-start;
		}
		.navFlex{
			display: flex;
			flex-direction: column;
			background-image : url('../img/navbanner.jpg');
			background-size: cover;
		}

			/*grilla home*/

		#grilla{
			width: 100%;
			height: 100vh;
		}

		#grilla{
				display: grid;
				grid-template-areas: 
				"nav header"
				"nav intro"
				"nav footer";

			grid-template-columns: 15% auto;
			grid-template-rows: 35% 50% 15%;
			gap: 10px;
		}

		/*grilla de la carta*/

		#grillaMenu{
			width: 100%;
			height: 100vh;
		}

		#grillaMenu{
				display: grid;
				grid-template-areas: 
				"nav header"
				"nav burgers"
				"nav 13black"
				"nav sandwiches"
				"footer footer";

			grid-template-columns: 15% auto;
			grid-template-rows: 35% 15% 15% 15% auto;
			row-gap: 10px;
			column-gap: 10px;
		}

}